/* DashboardSettings.module.css */

.dashboardSettingsContainer {
    padding: 20px;
}

.dashboardSettingsContainer h2 {
    margin-top: 40px; 
    margin-bottom: 20px;
    color: #212529;
}

.socialPlatformsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 40px;
}
.roleManagementSection {
    margin-top: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 40px; 
}

.roleManagementSection p {
    font-size: 15px;
    color: #6c757d;
    margin-bottom: 20px;
}

.roleManagementActions {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}


@media (max-width: 768px) {
    .socialPlatformsGrid {
        grid-template-columns: 1fr; 
    }
}