/* SettingsAndTeams.module.css */

.settingsTeamsContainer {
    padding: 20px;
}

.interestCategories {
    margin-top: 40px;
    margin-bottom: 40px;
    
}


.recentlyViewedSection {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px; 
    min-height: 150px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #888;
}

.recentlyViewedSection h2 {
    margin-top: 0;
    color: #212529;
}
